dialog#user-dialog
    h3 User Info
    .content
        p Name:
            span
        p Books taken:
        ol
        button.close(class="close-userModal-button" onClick="closeDialog(this)") Close